body{
  /*background-color: #FFFBE9;*/
}

.red{
  color: red;
}

.navbar{
  margin-bottom: 0px !important;
}

.top-nav{
  width: 100%;
  background: #222;
  position: fixed !important;
  z-index: 1000;
}

.navbar-static-top{

}

.navbar-inverse{
  border-color: transparent;
}

.carousel-container{
  padding: 0px;
}

.carousel-inner{
  overflow: hidden !important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: auto;
}
/* end custom bootsrap */

.main-container{
  padding: 60px 10px 80px 10px;
}

.dog-inner{

}
@media (max-width:480px){
  .etalage_zoom_area div {
      width:350px !important;
      height:350px !important;
  }
}

@media (max-width:640px){
  .etalage_zoom_area div {
      width:250px !important;
      height:250px !important;
  }
}

@media (max-width:1024px){
  .etalage_zoom_area div {
      width:350px !important;
      height:350px !important;
  }
}

.thumbnail > img{
  max-width: 100%;
  height: 150px;
}

.thumbnail-div{
  overflow:hidden;
}

.right-side h3{
  margin-top: 0px;
}

.overview{
  padding-top: 20px;
}

.overview p{
  font-size: 97%;
  opacity: 0.8;
}

.login-user{
  padding-top: 20px;
}

.login-user p{
  font-size: 97%;
  opacity: 0.9;
}

footer{
  padding: 20px 0px;
  background-color: #000;
  color: #fff;
}

/*preview video*/
video, input {
    display: block;
}

input {
    width: 100%;
}

.info {
    background-color: aqua;
}

.error {
    background-color: red;
    color: white;
}
/**/

.user-panel{
  border-top: 2px solid #80dfff;
}

.user-panel .panel-body{
  padding: 10px !important;
}

.top-profile{
  text-align: center;
}

.top-profile img{
  border: 3px solid #d2d6de;
  width: 30%;
  padding: 3px;
}

.nav-tabs>li>a{
  border-radius: 0px;
}

.tab-pane{
  padding: 10px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  border-top: 2px solid #80dfff;
}

.item-iklan-user{
  overflow: hidden;
}

.item-iklan-user img{
  width: 100%;
}

#etalage img{
  width: 100%;
  height: auto;
  overflow: hidden;
}

.nav-pills>li>a{
   border-radius: 0px;
}

.info-box{
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.info-box-text {
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.bg-aqua{
  background-color: #00c0ef !important;
}

.bg-green{
  background-color: #00a65a !important;
}

.bg-yellow{
  background-color: #f39c12 !important;
}

.rightsidebar{
  padding-left: 20px;
}
